name: Compile Arduino files and release

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    name: Compile Arduino file
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    
    - name: Checkout Smoothed library
      uses: actions/checkout@v2
      with:
        repository: MattFryer/Smoothed
        ref: master
        path: CustomLibrary_Smoothed
    
    - name: Checkout Joystick library
      uses: actions/checkout@v2
      with:
        repository: MHeironimus/ArduinoJoystickLibrary
        ref: master
        path: CustomLibrary_ArduinoJoystickLibrary

    - name: Checkout Adafruit_ADS1X15 library
      uses: actions/checkout@v2
      with:
        repository: adafruit/Adafruit_ADS1X15
        ref: master
        path: CustomLibrary_Adafruit_ADS1X15

    - name: Compile Arduino files
      uses: ArminJo/arduino-test-compile@v2
  
    - name: Upload Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: build_output
        path: ./ # or path/to/artifact
