name: Release compiled firmware

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    tags: 
      - 'v*'
    paths: 
      - 'Simforge_Engineering_Pedals/**'
  pull_request:
    branches: [ main ]
    paths: 
      - 'Simforge_Engineering_Pedals/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
jobs:
  build:
    name: Release firmware and source code
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout project
      uses: actions/checkout@v2
    
    - name: Checkout Smoothed library
      uses: actions/checkout@v2
      with:
        repository: MattFryer/Smoothed
        ref: master
        path: CustomLibrary_Smoothed
    
    - name: Checkout Joystick library
      uses: actions/checkout@v2
      with:
        repository: MHeironimus/ArduinoJoystickLibrary
        ref: master
        path: CustomLibrary_ArduinoJoystickLibrary

    - name: Checkout Adafruit_ADS1X15 library
      uses: actions/checkout@v2
      with:
        repository: soligen2010/Adafruit_ADS1X15
        ref: master
        path: CustomLibrary_Adafruit_ADS1X15

    - name: Compile Arduino files
      uses: ArminJo/arduino-test-compile@v3
      with:
        arduino-board-fqbn: arduino:avr:micro

    - name: Upload Build files
      uses: actions/upload-artifact@v2
      with:
        name: build_output
        path: ./Simforge_Engineering_Pedals/build/*/Simforge_Engineering_Pedals.ino.with_bootloader.hex

    - name: Download a Build Artifact
      uses: actions/download-artifact@v2
      with:
        name: build_output
        path: build

    - name: Zip build ouput
      run: zip -r buildoutput.zip build

    - name: Automatic Releases
      uses: marvinpinto/action-automatic-releases@v1.1.0
      with:
        repo_token: "${{ secrets.GITHUB_TOKEN }}"
        automatic_release_tag: "latest"
        files: buildoutput.zip
